FrequencyParser/Library/*

Builds/*
Dokumente/*
FrequencyParser/.idea/

FrequencyParser/Library/

FrequencyParser/Temp/

FrequencyParser/obj/

FrequencyParser/Assembly-CSharp.csproj

Dokumente_untrack/
